@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* 1. TIPOGRAFIAS

.inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


.roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

*/

/* 2. RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 3. COLORES
#FFFFFF
#FDFBEE
#015551
#57B4BA
#FE4F2D
#000000
*/

/* 4. ESTILOS GENERALES | 5. ORDENADOS SEGÚN ESTRUCTURA */
/* HEADER */
.header-container {
    width: 100%;
    padding: .625rem 1.25rem;
    background-color: #FE4F2D;
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);*/
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo .logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.logo {
    height: 5rem;
    margin-right: 0.5rem;
}

.logo-text {
    font-family:  "Inter", sans-serif;
    color: #000000;
    font-size: 64px;
    font-weight: 300;
}

.header-extras {
    display: flex;
    align-items: center;
    gap: .625rem;
}

.header-extras img {
    height: 3rem;
    width: 3rem;
}

.header-extras button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.lang-switch a {
    text-decoration: none;
    font-family:  "Inter", sans-serif;
    color: #000000;
    font-size: 22px;
    font-weight: 400;
}

.nav-separator {
    border: none;
    border-top: 2px solid #000000;
    margin: 10px 0;
}

.main-nav ul {
    display: flex;
    justify-content: center;
    gap: 200px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav a {
    text-decoration: none;
    font-family:  "Inter", sans-serif;
    color: #000000;
    font-size: 22px;
    font-weight: 400;
}

.main-nav a:hover {
    color: #FFFFFF;
}

.header-container-pages {
    display: flex;
    width: 100%;
    padding: .625rem 1.25rem;
    background-color: #FE4F2D;
}

.pages-nav {
    display: flex;
    align-items: center;
}

.pages-nav ul {
    display: flex;
    gap: 160px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pages-nav a {
    text-decoration: none;
    font-family:  "Inter", sans-serif;
    justify-content: space-between;
    color: #000000;
    font-size: 22px;
    font-weight: 400;
}

.pages-nav a:hover {
    color: #FFFFFF;
}

/* BODY */
.inicio {
    background-color: #000000;
    padding: 150px;
    height: 550px;
    display: flex;
    flex-direction: column;
    gap: 200px;
    justify-content: center;
}

.inicio p {
    color: #FFFFFF;
    font-family:  "Inter", sans-serif;
    font-size: 40px;
    font-weight: 100px;
}

.button-container {
    display: flex;
    gap: 20px;
}

.button-orange {
    color: #000000;
    background-color: #FE4F2D;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

.button-container a:hover {
    color: #FFFFFF;
}

section {
    background-color: #000000;
}

p {
    color: #FFFFFF;
    font-family:  "Inter", sans-serif;
    font-size: 40px;
}

.proyectos-y-experiencias {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
}

.proyectos-y-experiencias h2 {
    color: #000000;
    font-family:  "Roboto", sans-serif;
    padding: 30px;
    font-size: 24px;
    font-weight: 400;
}

.instrumentos {
    background-color: #000000;
}

.instrumentos h2 {
    color: #FFFFFF;
    font-family:  "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.abordaje {
    background-color: #FFFFFF;
}

.abordaje h2 {
    color: #000000;
    font-family:  "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.metodologia {
    background-color: #015551;
}

.metodologia h2 {
    color: #FFFFFF;
    font-family:  "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.nosotros {
    background-color: #015551;
}

.nosotros h2 {
    color: #FFFFFF;
    font-family:  "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.alianzas {
    background-color: #FFFFFF;
}

.alianzas h2 {
    color: #000000;
    font-family:  "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.nuestros-recursos {
    background-color: #FFFFFF;
}

.nuestros-recursos h2 {
    color: #000000;
    font-family:  "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.sumate {
    background-color: #000000;
}

.sumate h2 {
    color: #FFFFFF;
    font-family:  "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.seguinos {
    background-color: #FFFFFF;
}

.seguinos h2 {
    color: #000000;
    font-family:  "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.seguinos h3 {
    color: #000000;
    font-family:  "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.seguinos p {
    color: #000000;
    font-family:  "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
}

/* FOOTER */

.footer-container {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    background-color: #57B4BA;
    color: #000;
}

.item {
    padding: 1rem;
    text-align: center;
}

.footer-logo .footer-logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.footer-logo {
    height: 5rem;
    margin-right: 0.5rem;
}

.footer-logo-text {
    font-family:  "Inter", sans-serif;
    color: #000000;
    font-size: 64px;
    font-weight: 300;
}

.item-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-items: left;
}

.item-2 .footer-seguinos {
    font-family:  "Inter", sans-serif;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}

.item-2 .mail {
    font-family:  "Inter", sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

.footer-extras {
    display: flex;
    align-items: center;
}

.footer-extras img {
    height: 2rem;
    width: 2rem;
}

.item-3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    align-content: baseline;
}

.item-4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    align-content: baseline;
}

.item-5 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    align-content: baseline;
}

.item-6 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    align-content: baseline;
}

.item a {
    text-decoration: none;
    font-family:  "Inter", sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}

.item p {
    text-decoration: none;
    font-family:  "Inter", sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
}

.item-7 {
    grid-column-start: 1;
    grid-column-end: 6;
}

.item-7 p {
    text-decoration: none;
    font-family:  "Inter", sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
}